# Basic Data Types and operations

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Integers</a></span></li><li><span><a href="#Floats" data-toc-modified-id="Floats-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Floats</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Booleans" data-toc-modified-id="Booleans-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Booleans</a></span></li><li><span><a href="#Composite-Data-Types" data-toc-modified-id="Composite-Data-Types-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Composite Data Types</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Integers

Non decimal numbers

In [1]:
18 + 10

28

In [3]:
100 + 12

112

In [7]:
earnings = 200

In [8]:
salary = 18

In [10]:
total_money = earnings + salary

In [11]:
total_money

218

In [22]:
type(218)

int

In [21]:
type(total_money)

int

In [23]:
type(salary)

int

## Floats

In [24]:
type(0.7)

float

In [25]:
type(3.0)

float

In [26]:
4.5 + 9

13.5

In [27]:
1 - 7.5

-6.5

In [31]:
a = 2
b = 3
c = 5

In [32]:
a * b

6

In [33]:
a * (b + c)

16

In [34]:
a + b * c

17

In [35]:
(a + b) * c

25

`**` powers base to exponent. In `a ** b`, `a` is the base, `b` is the exponent

In [36]:
a, b, c

(2, 3, 5)

In [38]:
a ** b

8

In [39]:
10 ** 2

100

In [40]:
10 ** 3

1000

In [41]:
1 / 8

0.125

In [42]:
100 / 5

20.0

$$a^{-b}=\frac{1}{a^b}$$

In [43]:
2 ** (-3)

0.125

In [44]:
10 ** (-3)

0.001

In [46]:
(-2) ** 3

-8

In [49]:
n = 12

In [50]:
n / 5

2.4

In [51]:
23 / 5

4.6

In [52]:
23 // 5

4

In [58]:
23 % 5

3

In [59]:
7 % 2

1

In [60]:
20 % 4 # resto

0

In [63]:
a = 0

In [67]:
import time

In [69]:
for i in range(100):
    # long process simulation
    time.sleep(0.1)
    
    if i % 10 == 0:
        print(f"voy por {i}")

voy por 0
voy por 10
voy por 20
voy por 30
voy por 40
voy por 50
voy por 60
voy por 70
voy por 80
voy por 90

In [71]:
abs(-5.5)

5.5

In [72]:
abs(5.5)

5.5

In [73]:
type(5.6)

float

In [74]:
type("5.6")

str

In [75]:
float("5.6")

5.6

In [76]:
type(float("5.6"))

float

In [77]:
float("hola")

ValueError: could not convert string to float: 'hola'

In [78]:
round(6.77)

7

In [79]:
round(6.77, 1)

6.8

In [80]:
round(6.7785843, 4)

6.7786

In [86]:
round(123456, -3)

123000

In [87]:
import math

In [88]:
math.floor(6.55)

6

In [89]:
math.ceil(6.23)

7

In [90]:
10 ** 4

10000

In [93]:
# what number should we power 10 to to obtain 10000
math.log10(10000)

4.0

In [94]:
math.log10(1000)

3.0

In [96]:
math.log10(100)

2.0

## Strings

In [98]:
nombre = "juan"

In [107]:
apellido = "vázquez"

In [99]:
type(nombre)

str

In [100]:
frase = "Me gusta el arroz"

In [104]:
frase + nombre

'Me gusta el arrozjuan'

In [109]:
nombre + " " + apellido

'juan vázquez'

In [110]:
nombre * 4

'juanjuanjuanjuan'

In [111]:
nombre * 4.1

TypeError: can't multiply sequence by non-int of type 'float'

In [113]:
nombre

'juan'

In [112]:
# check contains
"a" in nombre

True

In [114]:
# check contains
"an" in nombre

True

In [115]:
# check contains
"ana" in nombre

False

In [116]:
# check contains
"jn" in nombre

False

In [120]:
len(nombre)

4

`len` is a function that operates on string variable `frase`

In [121]:
frase

'Me gusta el arroz'

In [122]:
len(frase)

17

`upper` is a method of the string class

In [124]:
nombre.upper()

'JUAN'

In [125]:
nombre.lower()

'juan'

In [128]:
nombre.endswith('n')

True

In [130]:
# look for methods
nombre.*low*?

In [131]:
# look for methods
nombre.*cap*?

In [133]:
# look for methods
nombre.capitalize()

'Juan'

In [135]:
nombre.replace("a", "e")

'juen'

Slicing

In [136]:
frase

'Me gusta el arroz'

In [138]:
frase[0]

'M'

In [139]:
frase[4]

'u'

In [140]:
frase[-1]

'z'

In [141]:
frase[3:10]

'gusta e'

In [142]:
frase[:10]

'Me gusta e'

In [143]:
frase[12:]

'arroz'

In [144]:
frase[-3:]

'roz'

In [145]:
type(frase)

str

In [146]:
frase

'Me gusta el arroz'

In [148]:
palabras = frase.split()

In [149]:
palabras

['Me', 'gusta', 'el', 'arroz']

In [150]:
type(palabras)

list

In [151]:
frase.split("a")

['Me gust', ' el ', 'rroz']

In [152]:
email = "pepe@hotmail.com"

In [156]:
email.split("@")[1].split(".")[0]

'hotmail'

## Booleans

In [158]:
True

True

In [159]:
False

False

In [160]:
type(True)

bool

In [171]:
tiene_entrada = False

In [172]:
tiene_entrada

False

In [173]:
type(tiene_entrada)

bool

In [174]:
not tiene_entrada

True

In [179]:
if tiene_entrada:
    print("pasa")
else:
    print("vete")

vete

In [175]:
n = 12

In [180]:
n > 5

True

In [181]:
n > 60

False

In [182]:
n == 3 + 9

True

In [183]:
4 == 3 + 2

False

In [184]:
5 == "5"

False

In [186]:
edad = 15

In [187]:
edad

15

In [188]:
edad > 16

False

In [189]:
edad % 3

0

In [190]:
(edad > 16) or (edad % 3 == 0)

True

In [191]:
(edad > 16) and (edad % 3 == 0)

False

In [192]:
(edad > 14) and (edad % 3 == 0)

True

## Composite Data Types

### Lists

lists can contain different types

In [201]:
nombres = ["Rafa", "Pepe", "Sonia", "Javi", 5, True, "Pepe"]

In [202]:
type(nombres)

list

In [203]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe']

In [204]:
# list can be appended elements (vs tuple)
nombres.append("Jose")

In [206]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

Slicing

In [211]:
nombres[0]

'Rafa'

In [208]:
nombres[1:3]

['Pepe', 'Sonia']

In [209]:
nombres[:3]

['Rafa', 'Pepe', 'Sonia']

In [210]:
nombres[2:]

['Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [212]:
# assign
nombres[0] = "Rafa R."

In [213]:
nombres

['Rafa R.', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [214]:
nombres.remove("Pepe")

In [216]:
nombres

['Rafa R.', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [217]:
nombres.remove("Jose")

In [218]:
nombres

['Rafa R.', 'Sonia', 'Javi', 5, True, 'Pepe']

In [219]:
nombres.reverse()

In [220]:
nombres

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.']

In [221]:
"Pepe" in nombres

True

In [222]:
"Pep" in nombres

False

In [225]:
if "Sonia" not in nombres:
    print("Sonia no es parte de la lista")

In [226]:
equipos = ["RM", "Barca", "Zgz"]

In [227]:
nombres

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.']

In [228]:
equipos

['RM', 'Barca', 'Zgz']

In [229]:
nombres + equipos

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.', 'RM', 'Barca', 'Zgz']

In [230]:
equipos * 3

['RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz']

In [231]:
len(nombres)

6

In [232]:
edades = [12, 86, 35, 67, 44, 23, 12]

In [233]:
type(edades)

list

In [234]:
min(edades)

12

In [235]:
max(edades)

86

In [236]:
edades.count(12)

2

In [240]:
nombres.remove(True)
nombres.remove(5)

In [241]:
nombres

['Pepe', 'Javi', 'Sonia', 'Rafa R.']

In [242]:
nombres.index("Sonia")

2

In [243]:
nombres.sort()

In [244]:
nombres

['Javi', 'Pepe', 'Rafa R.', 'Sonia']

In [247]:
edades.sort(reverse=True)

In [249]:
edades

[86, 67, 44, 35, 23, 12, 12]

In [251]:
amigos_de_students = [["Pepe", "Javi"], ["Paula", "Roćio", "Santi"]]

In [252]:
len(amigos_de_students)

2

In [253]:
amigos_de_students[0]

['Pepe', 'Javi']

In [254]:
amigos_de_students[1]

['Paula', 'Roćio', 'Santi']

In [257]:
amigos_de_students[1][2].upper()

'SANTI'

In [263]:
paises = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Rep", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Congo {Democratic Rep}", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland {Republic}", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South"]

In [264]:
len(paises)

91

**Exercise**: create a new list keeping only countries containing "r", in upper case

In [265]:
paises_especiales = []

In [270]:
for pais in paises:
    if "r" in pais:
        paises_especiales.append(pais.upper())

In [272]:
len(paises_especiales)

45

### Tuples

vs Lists: not dynamic

In [273]:
edades = (12, 31, 55)

In [274]:
type(edades)

tuple

In [275]:
edades

(12, 31, 55)

In [276]:
edades[0]

12

Tuples are inmutable: you cannot 
 - change its entries
 - append new values

In [277]:
edades[0] = 11

TypeError: 'tuple' object does not support item assignment

In [281]:
edades.append(15)

AttributeError: 'tuple' object has no attribute 'append'

In [282]:
len(edades)

3

In [283]:
mas_edades = (44, 45, 48, 49)

In [285]:
todas = edades + mas_edades

In [286]:
todas

(12, 31, 55, 44, 45, 48, 49)

Single element tuples:

In [291]:
my_tup = (7, )

In [292]:
type(my_tup)

tuple

In [293]:
len(my_tup)

1

Tuples:
 * Faster
 * Data cannot be modified

### Sets

 * Unordered
 * Unique elements

In [294]:
paises = ["France"] * 3 + ["Spain"] * 5 + ["US"] * 2

In [295]:
paises

['France',
 'France',
 'France',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'US',
 'US']

In [296]:
paises_unicos_yo = set(paises)

In [297]:
paises_unicos_yo

{'France', 'Spain', 'US'}

In [298]:
type(paises_unicos_yo)

set

In [299]:
paises_unicos_yo.update({"Rusia", "Japón", "Spain"})

In [300]:
paises_unicos_yo

{'France', 'Japón', 'Rusia', 'Spain', 'US'}

In [301]:
paises_unicos_tu = {"Spain", "Ireland", "Italy", "Venezuela"}

In [302]:
paises_unicos_tu

{'Ireland', 'Italy', 'Spain', 'Venezuela'}

In [303]:
paises_unicos_tu.union(paises_unicos_yo)

{'France', 'Ireland', 'Italy', 'Japón', 'Rusia', 'Spain', 'US', 'Venezuela'}

In [304]:
paises_unicos_tu.intersection(paises_unicos_yo)

{'Spain'}

In [305]:
paises_unicos_tu.difference(paises_unicos_yo)

{'Ireland', 'Italy', 'Venezuela'}

In [306]:
paises_unicos_tu.issubset(paises_unicos_yo)

False

In [307]:
list(paises_unicos_tu)

['Venezuela', 'Ireland', 'Spain', 'Italy']

In [308]:
paises_unicos_tu.append("Canada")

AttributeError: 'set' object has no attribute 'append'

In [309]:
paises_unicos_tu.add("Zimbabwe")

In [310]:
paises_unicos_tu

{'Ireland', 'Italy', 'Spain', 'Venezuela', 'Zimbabwe'}

In [ ]:
# lists, sets, tuples can contain arbitrary objects
# if same type, may not be the best containers

In [311]:
cosas = [31, "pepe", True, (4, 5, 6)]

In [312]:
cosas

[31, 'pepe', True, (4, 5, 6)]

In [313]:
type(cosas)

list

In [314]:
len(cosas)

4

In [315]:
cosas[-1]

(4, 5, 6)

### Dictionaries

In [ ]:
# bad
manu = [31, "manuel", "Madrid", 1.84, False]

In [316]:
# good 
persona = {
    "age": 31,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [317]:
persona

{'age': 31,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [318]:
type(persona)

dict

In [320]:
persona["age"]

31

In [321]:
persona["name"]

'Manuel'

In [322]:
persona["name"] = "Manuel Lopez"

In [323]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [324]:
persona["country"]

KeyError: 'country'

In [325]:
# add new key, value pair to a dictionary
persona["country"] = "Spain"

In [329]:
persona["ocupacion"]["tiempo"] = 8

In [330]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 8, 'salario': 100},
 'country': 'Spain'}

In [331]:
cities_population = {
    "Madrid": 6_000_000,
    "Barcelona": 5_000_000,
    "Sevilla": 2_000_000
}

In [332]:
cities_population["Barcelona"]

5000000

In [333]:
cities_population["Madrid"]

6000000

In [334]:
cities_population["Paris"]

KeyError: 'Paris'

In [337]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 8, 'salario': 100},
 'country': 'Spain'}

In [335]:
persona.keys()

dict_keys(['age', 'name', 'city', 'height', 'has_children', 'friends', 'ocupacion', 'country'])

In [336]:
persona.values()

dict_values([31, 'Manuel Lopez', 'Madrid', 1.84, False, ['Juan', 'Luis'], {'name': 'profe', 'tiempo': 8, 'salario': 100}, 'Spain'])

In [350]:
for k, v in persona.items():
    print(k)
    print("hola")
    print(v)
    print("\n")

age
hola
31


name
hola
Manuel Lopez


city
hola
Madrid


height
hola
1.84


has_children
hola
False


friends
hola
['Juan', 'Luis']


ocupacion
hola
{'name': 'profe', 'tiempo': 8, 'salario': 100}


country
hola
Spain

In [351]:
pelis_fav = {
    "olaya": ["Batman", "Spiderman", "Cap America"],
    "manu": ["Batman", "Joker"],
    "juan": ["Spiderman", "Ironman"]
}

In [359]:
peli = "Spiderman"

In [365]:
for name, pelis in pelis_fav.items():
    if peli in pelis:
        print(name)

olaya
juan

## Summary

 * Lists and Dictionaries are fundamental and daily usage data types
 * Lists vs tuples (static, inmutable)
 * Sets have unique elements