# Comprehensions

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-list-comprehensions" data-toc-modified-id="Basic-list-comprehensions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic list comprehensions</a></span><ul class="toc-item"><li><span><a href="#for-loop" data-toc-modified-id="for-loop-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><code>for</code> loop</a></span></li><li><span><a href="#for-loop-&amp;-if-condition" data-toc-modified-id="for-loop-&amp;-if-condition-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><code>for</code> loop &amp; <code>if</code> condition</a></span></li></ul></li><li><span><a href="#Double-list-comprehensions" data-toc-modified-id="Double-list-comprehensions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Double list comprehensions</a></span></li><li><span><a href="#Nested-list-comprehensions" data-toc-modified-id="Nested-list-comprehensions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Nested list comprehensions</a></span></li><li><span><a href="#Dictionary-comprehensions" data-toc-modified-id="Dictionary-comprehensions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionary comprehensions</a></span></li><li><span><a href="#Set-comprehensions" data-toc-modified-id="Set-comprehensions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Set comprehensions</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Timings" data-toc-modified-id="Timings-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Timings</a></span></li></ul></div>

## Basic list comprehensions

### `for` loop

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

In [2]:
type(words)

list

In [3]:
len(words)

10

In [4]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

**Exercise**: we want another list with same words in upper case (may√∫sculas)

In [5]:
words_big = []
for w in words:
    w_big = w.upper()
    words_big.append(w_big)

In [6]:
words_big

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

Let's create UPPER list with a comprehension

<img width=600 src="https://miro.medium.com/max/1022/1*RycJnooSC4_amWAXsvvKhw.png">

In [8]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [9]:
words_big = [w.upper() for w in words]

In [10]:
words_big

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Exercise**: we want a list containing the squares of numbers from 1 to 10.

In [18]:
# classic
sqs = []
for n in range(1, 11):
    sqs.append(n ** 2)

In [19]:
sqs

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
# list comprehension
[n ** 2 for n in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# list comprehension
[n % 3 for n in range(1, 11)]

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

**Exercise**: Replace "a"s by "e"s in every word of the list

In [41]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [47]:
# list comprehension
[w.replace("a", "e") for w in words]

['pley',
 'filling',
 'ber',
 'theetre',
 'eesygoing',
 'dete',
 'leed',
 'thet',
 'story',
 'islend']

### `for` loop & `if` condition

**Exercise**: We want the sub-list with words longer than 6 characters.

In [26]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [27]:
max_len = 6

In [28]:
# classic
long_words = []

for word in words:
    if len(word) > 6:
        long_words.append(word)

In [29]:
long_words

['filling', 'theatre', 'easygoing']

<img width=600 src="https://www.mrdbourke.com/content/images/2019/09/python-list-comprehension-article.png">

In [32]:
# list comprehension
[w.upper() for w in words if len(w) > 6]

['FILLING', 'THEATRE', 'EASYGOING']

**Exercise**: create a list of names of people with more than one kid

In [37]:
type(people)

list

In [34]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Luc√≠a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

In [36]:
[p["name"] for p in people if p["n_kids"] > 1]

['Juan', 'Luc√≠a', 'Leo']

**Exercise**: Build a list with all multiples of 5 between 0 and 100.

In [57]:
# list comprehension
[n for n in range(100) if n % 5 == 0]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

Examples

In [58]:
[2 * x for x in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [61]:
[7 for x in range(10)]

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [62]:
[x ** 2 for x in range(10) if x % 2 == 1]

[1, 9, 25, 49, 81]

In [63]:
[numerito / 2 for numerito in range(10)]

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

## Double list comprehensions

**Exercise**: we are 4 friends. We want to visit 3 countries.  
Create a list of strings, containing all the posibilities of "name loves country"

How many combinations are there?

In [68]:
countries = ["Brasil", "Morocco", "New Zealand"]
friends = ["Alice", "Bob", "Eve", "John"]

In [87]:
# classic
for f in friends:
    print(f"Hola soy {f}")
    
    for c in countries:
        print(f"{f} loves {c}")
        
    print(f"Me despido, soy {f}\n")

Hola soy Alice
Alice loves Brasil
Alice loves Morocco
Alice loves New Zealand
Me despido, soy Alice

Hola soy Bob
Bob loves Brasil
Bob loves Morocco
Bob loves New Zealand
Me despido, soy Bob

Hola soy Eve
Eve loves Brasil
Eve loves Morocco
Eve loves New Zealand
Me despido, soy Eve

Hola soy John
John loves Brasil
John loves Morocco
John loves New Zealand
Me despido, soy John

In [83]:
# list comprehension
[f"{f} loves {c}" for f in friends for c in countries]

['Alice loves Brasil',
 'Alice loves Morocco',
 'Alice loves New Zealand',
 'Bob loves Brasil',
 'Bob loves Morocco',
 'Bob loves New Zealand',
 'Eve loves Brasil',
 'Eve loves Morocco',
 'Eve loves New Zealand',
 'John loves Brasil',
 'John loves Morocco',
 'John loves New Zealand']

**Exercise**: for each letter of each word, print it if it is a vowel

## Nested list comprehensions

In [99]:
friends

['Alice', 'Bob', 'Eve', 'John']

Build a list of lists with names in upper and lower

first element shold be `["Alice", "ALICE", "alice"]`

In [105]:
# classic
names_diff = []

for f in friends:
    names = [f, f.upper(), f.lower()]
    
    names_diff.append(names)

In [106]:
names_diff

[['Alice', 'ALICE', 'alice'],
 ['Bob', 'BOB', 'bob'],
 ['Eve', 'EVE', 'eve'],
 ['John', 'JOHN', 'john']]

In [110]:
# list comprehension
[[f, f.upper(), f.lower()] for f in friends]

[['Alice', 'ALICE', 'alice'],
 ['Bob', 'BOB', 'bob'],
 ['Eve', 'EVE', 'eve'],
 ['John', 'JOHN', 'john']]

## Dictionary comprehensions

**Exercise**: you are given a list of words. Write a dictionary containing the length of every word.

```
{
    "play": 4,
    "filling": 7,
    ...
}
```

In [119]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [125]:
# classic
word_dict = dict()
# equiv to {} but less readable (couldn't it be a set?)

for w in words:
    word_dict[w] = len(w)

In [127]:
word_dict

{'play': 4,
 'filling': 7,
 'bar': 3,
 'theatre': 7,
 'easygoing': 9,
 'date': 4,
 'lead': 4,
 'that': 4,
 'story': 5,
 'island': 6}

In [ ]:
# dict comprehension

In [128]:
{w: len(w) for w in words}

{'play': 4,
 'filling': 7,
 'bar': 3,
 'theatre': 7,
 'easygoing': 9,
 'date': 4,
 'lead': 4,
 'that': 4,
 'story': 5,
 'island': 6}

In [129]:
# more use cases
{w.upper(): len(w) for w in words}

{'PLAY': 4,
 'FILLING': 7,
 'BAR': 3,
 'THEATRE': 7,
 'EASYGOING': 9,
 'DATE': 4,
 'LEAD': 4,
 'THAT': 4,
 'STORY': 5,
 'ISLAND': 6}

In [130]:
# more use cases
{w.upper(): len(w) for w in words if len(w) > 5}

{'FILLING': 7, 'THEATRE': 7, 'EASYGOING': 9, 'ISLAND': 6}

In [135]:
{w.upper(): ind ** 2 for ind, w in enumerate(words)}

{'PLAY': 0,
 'FILLING': 1,
 'BAR': 4,
 'THEATRE': 9,
 'EASYGOING': 16,
 'DATE': 25,
 'LEAD': 36,
 'THAT': 49,
 'STORY': 64,
 'ISLAND': 81}

**Exercise**: you are given a dict of ages.  
Create a dictionary containing their ages in 5 years time.

In [137]:
ages = {
    "Alice": 24,
    "Bob": 28,
    "Eve": 34,
    "John": 19
}

In [138]:
{name: age + 5 for name, age in ages.items()}

{'Alice': 29, 'Bob': 33, 'Eve': 39, 'John': 24}

In [139]:
[age + 5 for name, age in ages.items()]

[29, 33, 39, 24]

**Exercise**: you are given the following country-city pairs. Invert it.

In [147]:
fav_cities = {
    "Alvaro": "Valencia",
    "Manu": "Marseille",
    "Vic": "Rome",
    "Borja": "New York"
}

In [148]:
{ci: p for p, ci in fav_cities.items()}

{'Valencia': 'Alvaro', 'Marseille': 'Manu', 'Rome': 'Vic', 'New York': 'Borja'}

## Set comprehensions

**Exercise**: you are given country-age pairs for several users. Build a set with unique countries.

In [149]:
codes = ["es-91", "en-88", "en-43", "fr-12", "it-33", "es-15", "fr-55", "es-66", "usa-55"]

In [159]:
[c.split("-")[0] for c in codes]

['es', 'en', 'en', 'fr', 'it', 'es', 'fr', 'es', 'usa']

In [163]:
{c.split("-")[0] for c in codes}

{'en', 'es', 'fr', 'it', 'usa'}

In [164]:
# equiv
set([c.split("-")[0] for c in codes])

{'en', 'es', 'fr', 'it', 'usa'}

## Summary

 * Comprehensions are elegant.
 * Comprehensions are compact.
 * Readability counts: do not ALWAYS use comprehensions.
 * List, set, dict comprehensions

## Timings

In [165]:
nums = list(range(10 ** 6))

In [169]:
%%timeit
squares = []
for n in nums:
    squares.append(n ** 2)

488 ms ¬± 21.6 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [167]:
%%timeit
[x ** 2 for x in nums]

422 ms ¬± 11.8 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

Very similar times as expected