<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exploramos-los-datos-que-tenemos" data-toc-modified-id="Exploramos-los-datos-que-tenemos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exploramos los datos que tenemos</a></span></li><li><span><a href="#Misión-1" data-toc-modified-id="Misión-1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Misión 1</a></span><ul class="toc-item"><li><span><a href="#¡Datos-a-SQL!" data-toc-modified-id="¡Datos-a-SQL!-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>¡Datos a SQL!</a></span><ul class="toc-item"><li><span><a href="#Nos-conectamos-con-SQL" data-toc-modified-id="Nos-conectamos-con-SQL-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Nos conectamos con SQL</a></span></li><li><span><a href="#Comenzamos-a-crear-tablas" data-toc-modified-id="Comenzamos-a-crear-tablas-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Comenzamos a crear tablas</a></span></li><li><span><a href="#Iteramos-por-el-dataframe-para-meter-los-datos-en-SQL" data-toc-modified-id="Iteramos-por-el-dataframe-para-meter-los-datos-en-SQL-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Iteramos por el dataframe para meter los datos en SQL</a></span></li></ul></li></ul></li><li><span><a href="#Antes-de-seguir,-tenemos-que...-¡¡TRATAR-LOS-DATOS!!" data-toc-modified-id="Antes-de-seguir,-tenemos-que...-¡¡TRATAR-LOS-DATOS!!-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Antes de seguir, tenemos que... ¡¡TRATAR LOS DATOS!!</a></span></li><li><span><a href="#Misión-2" data-toc-modified-id="Misión-2-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Misión 2</a></span></li><li><span><a href="#¡Datos-a-MongoDB!" data-toc-modified-id="¡Datos-a-MongoDB!-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>¡Datos a MongoDB!</a></span></li></ul></div>

## Exploramos los datos que tenemos

In [88]:
import pandas as pd
data = pd.read_csv('output/playlist_letras.csv')
data.head()

,artista,nombre,ironhacker,letra
0,Hocus Pocus,Hip Hop ?,ferqwertyuiop,"[Intro]\nThat's what it is, uh huh\nNick Wiz, ..."
1,rusowsky,So So,ferqwertyuiop,[Intro]\nWhy is it hard on my own though\nWhy ...
2,Dominic Fike,Phone Numbers,ferqwertyuiop,[Intro]\nCan you break bread with me?\nBreak b...
3,Renaldo & Clara,L'amor fa calor,ferqwertyuiop,Oh oh l'amor oh oh fa calor oh oh\nOh oh l'amo...
4,KYTES,Alright,ferqwertyuiop,[Produced by Pharrell Williams & Sounwave]\n[D...

In [66]:
#print(data.loc[0]["letra"])

In [89]:
data.letra.fillna("nohay", inplace=True)

 ## Misión 1
 # <center> Meter los datos en una base de datos de SQL 🙂</center>
 ### ¡Datos a SQL!

#### Nos conectamos con SQL

In [7]:
import sqlalchemy as alch
from getpass import getpass

In [8]:
password = getpass("Introduce tu pass de sql: ")
dbName="spotify"
connectionData=f" "

Introduce tu pass de sql: ········

In [9]:
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

#### Comenzamos a crear tablas

In [10]:
# Borramos la base de datos spotify, si no existe no hará nada
engine.execute("""
    DROP DATABASE if exists spotify ;
""")

In [11]:
# Creamos la base de datos spotify
engine.execute("""
    CREATE DATABASE spotify ;
""")

In [12]:
# Le decimos a mySQL que vamos a usar esa base de datos de spotify
engine.execute("""
    USE spotify ;
""")

In [102]:
# Creamos una tabla para meter las canciones
engine.execute("""
    CREATE TABLE canciones (
    id_ INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    canción VARCHAR(70)NOT NULL,
    artista VARCHAR(40) NOT NULL,
    ironhacker VARCHAR(40) NOT NULL,
    letra VARCHAR (10000)
  );
""")

#### Iteramos por el dataframe para meter los datos en SQL

In [103]:
for i, fila in data.iterrows():

    engine.execute(
            f"""
        INSERT INTO canciones (canción, artista, ironhacker, letra) VALUES
        ("{fila['nombre']}","{fila['artista']}","{fila['ironhacker']}","{fila['letra']}");
        """
        )

## Antes de seguir, tenemos que... ¡¡TRATAR LOS DATOS!!

In [90]:
def sustituye(x):
    x = str(x).replace('"',"'")
    return x

In [97]:
data["nombre"] = data.nombre.apply(sustituye)
data["letra"] = data.letra.apply(sustituye)

In [93]:
#print(data.loc[0]["letra"])

Una vez solucionados estos problemas, ejecutamos otra vez la celda anterior1

 ## Misión 2
 # <center> Meter los datos en una base de datos de MongoDB 🙃</center>
 ## ¡Datos a MongoDB!

Exportamos el dataframe a json para luego importarlo a la base de datos de mongo

In [104]:
data.to_json("output/cancionesyletras", orient="records")

Realizamos el siguiente comando en la terminal estando a la altura de la carpeta

In [107]:
# mongoimport --db spotify --collection canciones --jsonArray cancionesyletras