# Seguimos con SQL

![keepcoding](https://media.giphy.com/media/26vACLXgansDXwHzzI/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#SQL-Alchemy" data-toc-modified-id="SQL-Alchemy-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SQL Alchemy</a></span><ul class="toc-item"><li><span><a href="#Recuerda-instalarlo-🤔" data-toc-modified-id="Recuerda-instalarlo-🤔-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Recuerda instalarlo 🤔</a></span></li><li><span><a href="#Conexiones" data-toc-modified-id="Conexiones-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Conexiones</a></span></li></ul></li><li><span><a href="#Recordatorio-de-JOINs-en-SQL:" data-toc-modified-id="Recordatorio-de-JOINs-en-SQL:-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Recordatorio de JOINs en SQL:</a></span></li><li><span><a href="#Vemos-que-las-queries-se-copian-igual-y-podemos-hacer-dataframes-con-la-información-🐼❤️" data-toc-modified-id="Vemos-que-las-queries-se-copian-igual-y-podemos-hacer-dataframes-con-la-información-🐼❤️-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Vemos que las queries se copian igual y podemos hacer dataframes con la información 🐼❤️</a></span></li><li><span><a href="#Sub-queries" data-toc-modified-id="Sub-queries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Sub-queries</a></span></li></ul></div>

## SQL Alchemy
SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain language.

### Recuerda instalarlo 🤔

In [9]:
#!pip install sqlalchemy
#!pip install pymysql

In [7]:
import pandas as pd
import sqlalchemy as alch

Lo primero que hay que hacer para trabajar con SQLAlchemy es crear un engine. El engine es el punto de entrada a la base de datos, es decir, el que permite a SQLAlchemy comunicarse con esta.
El motor se usa principalmente para manejar dos elementos: los pools de conexiones y el dialecto a utilizar

Tutoriales y documentación 
- https://j2logo.com/python/sqlalchemy-tutorial-de-python-sqlalchemy-guia-de-inicio/
- https://docs.sqlalchemy.org/en/14/

### Conexiones
Vamos a almacenar la contraseña, hay varios modos de hacerlo, de momento, vamos a hacerlo fácil

In [1]:
from getpass import getpass

In [2]:
# Almacenamos contraseña y ruta de conexión
password = getpass("Introduce tu contraseña del server mysql si es que la sabes ")

Introduce tu contraseña del server mysql si es que la sabes ········

In [3]:
db_name = "publications"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"

Otra forma de almacenar una contraseña es hacerlo mediante una variable de entorno, vamos allá

In [4]:
#!pip install python-dotenv

In [5]:
# P E N D I E N T E

Creamos la conexión entre Python y el server MySQL con create_engine de SQLAlchemy, llamamos a la variable "engine"

In [8]:
engine = alch.create_engine(conec)
print("me conecté")

me conecté

## Recordatorio de JOINs en SQL:

**(INNER) JOIN**: Devuelve los registros que tienen valores coincidentes en ambas tablas     
**LEFT (OUTER) JOIN**: Devuelve todos los registros de la tabla izquierda y los registros coincidentes de la tabla derecha    
**RIGHT (OUTER) JOIN**: Devuelve todos los registros de la tabla derecha y los registros coincidentes de la tabla izquierda    
**FULL (OUTER) JOIN**: Devuelve todos los registros cuando hay una coincidencia en la tabla izquierda o derecha

![joins](../images/joins.png)

Lo vemos hand`s on en workbench y dejamos el script :) [aquí](https://github.com/Ironhack-Data-Madrid-Mayo-2021/Classroom-Materials/tree/main/week_03/SQL_scripts)

## Vemos que las queries se copian igual y podemos hacer dataframes con la información 🐼❤️

In [9]:
hola = pd.read_sql_query(
"""
SELECT pub_name, COUNT(title_id) AS count_titles
FROM publishers 
INNER JOIN titles
ON publishers.pub_id = titles.pub_id
GROUP BY pub_name;
""", engine
)

In [10]:
hola.head()

               pub_name  count_titles
0        New Moon Books             5
1      Binnet & Hardley             7
2  Algodata Infosystems             6

## Sub-queries

Como toda la sentencia select devuelve una tabla, podemos poner esta sentencia en cualquier lugar donde podríamos poner un nombre de tabla (después de las palabras clave FROM y JOIN). Sólo tenemos que hacer dos pequeñas cosas:      

- Poner la sentencia SELECT entre paréntesis.    
- Darle un nombre bonito con AS.

```SQL
-- Esta es la sentencia SELECT que estamos ejecutando ahora
SELECT SUM(`TITLE COUNT`) FROM
-- Toda esta sentencia SELECT entre paréntesis es sólo nuestra tabla
(SELECT a.au_id AS 'AUTHOR ID', au_lname AS 'LAST NAME', au_fname AS 'FIRST NAME', 
	   pub_name AS 'PUBLISHER', COUNT(t.title_id) AS 'TITLE COUNT'
FROM authors AS a
	JOIN titleauthor AS ta
		ON a.au_id = ta.au_id
	JOIN titles AS t
		ON t.title_id = ta.title_id
	JOIN publishers AS p
		ON t.pub_id = p.pub_id
GROUP BY p.pub_id, a.au_id) AS title_count
-- Lo llamamos `title_count`
;
```