# Geoqueries en Mongo

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¿Qué-podemos-hacer-con-las-geoqueries?" data-toc-modified-id="¿Qué-podemos-hacer-con-las-geoqueries?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¿Qué podemos hacer con las geoqueries?</a></span></li><li><span><a href="#Generamos-la-conexión-con-Mongo" data-toc-modified-id="Generamos-la-conexión-con-Mongo-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Generamos la conexión con Mongo</a></span></li><li><span><a href="#Importar-colecciones" data-toc-modified-id="Importar-colecciones-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Importar colecciones</a></span></li><li><span><a href="#Crear-indexes" data-toc-modified-id="Crear-indexes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Crear indexes</a></span></li><li><span><a href="#Generamos-las-conexiones-con-la-base-de-datos" data-toc-modified-id="Generamos-las-conexiones-con-la-base-de-datos-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Generamos las conexiones con la base de datos</a></span></li><li><span><a href="#Empezamos-con-las-Geoqueries" data-toc-modified-id="Empezamos-con-las-Geoqueries-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Empezamos con las Geoqueries</a></span></li><li><span><a href="#Intersects" data-toc-modified-id="Intersects-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Intersects</a></span></li><li><span><a href="#GeoWithin" data-toc-modified-id="GeoWithin-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>GeoWithin</a></span></li><li><span><a href="#Near" data-toc-modified-id="Near-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Near</a></span></li><li><span><a href="#Extra,-extra!!-mis-datos-extraídos-de-Foursquare-en-Mongo" data-toc-modified-id="Extra,-extra!!-mis-datos-extraídos-de-Foursquare-en-Mongo-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Extra, extra!! mis datos extraídos de Foursquare en Mongo</a></span><ul class="toc-item"><li><span><a href="#Voy-a-traerme-todas-las-fruterías-de-Madrid" data-toc-modified-id="Voy-a-traerme-todas-las-fruterías-de-Madrid-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Voy a traerme todas las fruterías de Madrid</a></span></li></ul></li><li><span><a href="#Vamos-a-buscar-a-cuántos-km-están-las-fruterías-de-mi-casa" data-toc-modified-id="Vamos-a-buscar-a-cuántos-km-están-las-fruterías-de-mi-casa-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Vamos a buscar a cuántos km están las fruterías de mi casa</a></span></li></ul></div>

## ¿Qué podemos hacer con las geoqueries?
Con las geoquerías podemos responder a preguntas como las siguientes
 * ¿Dónde están las farmacias más cercanas a mi ubicación?
 * ¿Qué restaurantes hay en esta poligonal?

Cada punto de la Tierra se caracteriza por dos números:
 * Longitud: ángulo respecto al meridiano de Greenwich. Va de -180° (antiGreenwich) a +180° (también antiGreenwich)
 * Latitud: ángulo con respecto al ecuador. Va de -90° (sur) a +90° (norte)

![latierra](../images/latlon.gif)

## Generamos la conexión con Mongo

In [2]:
from pymongo import MongoClient
conn = MongoClient("localhost:27017")
db = conn.get_database("ironhack")

## Importar colecciones     
Sigamos la documentación oficial de Mongo: [Mongo Geo Example](https://docs.mongodb.com/manual/tutorial/geospatial-tutorial/)
Creamos estas dos colecciones nuevas:
 * `restaurants2`
 * `neighborhoods`

## Crear indexes
La indexación geoespacial de MongoDB permite ejecutar eficientemente **consultas espaciales** sobre una colección que contiene formas y puntos geoespaciales.
Vamos a crear un índice geográfico para que Mongo sepa que queremos hacer geo-consultas en esta colección.  
Esto sólo debe hacerse una vez, y ahora la colección de Mongo está correctamente indexada para siempre.

In [3]:
from pymongo import GEOSPHERE

In [5]:
# Creamos el  index 2dsphere desde pymongo
db.restaurantes_prueba.create_index([("location", GEOSPHERE)])

'location_2dsphere'

In [6]:
db.restaurants2.find_one({})

{'_id': ObjectId('55cba2476c522cafdb053add'),
 'location': {'coordinates': [-73.856077, 40.848447], 'type': 'Point'},
 'name': 'Morris Park Bake Shop'}

Es importante indicarle el campo donde  tenemo tanto el tipo de elemento (polígonos o  puntos (point)) como las coordenadas.

In [7]:
db.neighborhoods.create_index([("geometry", GEOSPHERE)])

'geometry_2dsphere'

In [9]:
#db.neighborhoods.find_one({})

## Generamos las conexiones con la base de datos

In [27]:
n = db.get_collection("neighborhoods")
r = db.get_collection("restaurants2")

## Empezamos con las Geoqueries   
¿En qué barrio estoy?      
¿Qué elementos **intersecan** el elemento dado?

## Intersects

Necesitamos tener los datos  con tipo polígono en este caso tenemos una colección con barrios donde cada barrio  tiene dentro  el polígono que lo delimita. Y cada barrio es un documento, por eso cuando  intersecta me devuelve el documento y yo veo  que es el barrio  en concreto.    
Selecciona los documentos cuyos datos geoespaciales se cruzan con un objeto GeoJSON especificado; es decir, cuando la intersección de los datos y el objeto especificado no está vacía.

In [11]:
coordenadas = [-73.93, 40.82]

In [12]:
coord_buscar = {"type": "Point", "coordinates": coordenadas}

In [14]:
proj = {"_id": 0, "name": 1}

In [15]:
n.find_one({}).keys()

dict_keys(['_id', 'geometry', 'name'])

In [17]:
n.find_one({"geometry": {"$geoIntersects": {"$geometry": coord_buscar }}}, proj)

{'name': 'West Concourse'}

In [41]:
# LO QUE LLAMÁBAMOS FILTRO A LA HOROA DE HAXER LA QUERY
filtro = {"geometry": {"$geoIntersects": {"$geometry": coord_buscar }}}

## GeoWithin

¿Qué elementos están **contenidos** en el elemento dado?     
¿Qué restaurantes hay en este barrio (polígono)?

In [18]:
# Vemos la estructura de los documentos sacando uno y viendo sus keys
n.find_one({}).keys()

dict_keys(['_id', 'geometry', 'name'])

In [22]:
#bUSCAMOS UN barrio en  concreto
barrio = n.find_one({'name': 'West Concourse'})
#barrio

In [25]:
#Extraigo las coordenadas
geo = barrio.get("geometry")

In [28]:
#Saco las keys de un documento de la coleccción  de restaurantes
r.find_one({}).keys()

dict_keys(['_id', 'location', 'name'])

In [38]:
query = r.find({"location": {"$geoWithin": {"$geometry": geo}}})

In [33]:
#list(query)

In [42]:
# ER FIRTRO
#Location porque la key de la colección donde están las coordenadas se llama location

filtro = {"location": {"$geoWithin": {"$geometry": geo}}}

In [39]:
import pandas as pd
df = pd.DataFrame(list(query))
df.head()

,_id,location,name
0,55cba2476c522cafdb056004,"{'coordinates': [-73.9259201, 40.8278293], 'ty...",Hard Rock Cafe
1,55cba2476c522cafdb056005,"{'coordinates': [-73.9259201, 40.8278293], 'ty...",Nyy Steak
2,55cba2476c522cafdb058ae9,"{'coordinates': [-73.9259245, 40.827435], 'typ...",Dunkin Donuts
3,55cba2476c522cafdb0543cb,"{'coordinates': [-73.92594439999999, 40.827212...",Billy'S Sport Bar Restaurant & Lounge
4,55cba2476c522cafdb056784,"{'coordinates': [-73.9262845, 40.8266956999999...",Stan'S Sports Bar

In [43]:
df.shape

(125, 3)

## Near

¿Qué elementos se encuentran a una distancia de una geometría determinada?     
`$nearSphere`/`$near` y `$maxDistance` nos ayudan a encontrar todos los elementos dentro de `maxDistance` metros de la geometría deseada, **ordenados** de más cercano a más lejano.

In [46]:
#  Mi posición, voy a buscar restaurantes cercanos a  ESTE punto
coordenadas2 = [-73.93, 40.82]
coord_point = {"type":"Point", "coordinates": coordenadas2}

In [45]:
# Km que quiero  caminar
metros = 3000

In [58]:
query = {"location": {"$near": {"$geometry": coord_point, "$minDistance": 500, "$maxDistance": metros}}}

In [59]:
query_final = r.find(query)

In [60]:
otro_df = pd.DataFrame(list(query_final))

In [61]:
otro_df.head()

,_id,location,name
0,55cba2476c522cafdb055a6d,"{'coordinates': [-73.9244744, 40.8180032], 'ty...",Jo Jo Pizza
1,55cba2476c522cafdb0574cd,"{'coordinates': [-73.9365102, 40.8202205], 'ty...",Kentucky Fried Chicken
2,55cba2476c522cafdb05476a,"{'coordinates': [-73.9365637, 40.8201488], 'ty...",Papa John'S
3,55cba2486c522cafdb059a11,"{'coordinates': [-73.9365637, 40.8201488], 'ty...",Jimbo'S Hamburgers
4,55cba2476c522cafdb05814c,"{'coordinates': [-73.9367511, 40.8198978], 'ty...",Sweet Mama'S Soul Food

## Extra, extra!! mis datos extraídos de Foursquare en Mongo

### Voy a traerme todas las fruterías de Madrid

In [62]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()

True

In [63]:
tok1= os.getenv("tok1")
tok2= os.getenv("tok2")

In [64]:
madrid = {'type': 'Point', 'coordinates': [40.42955,-3.6793]}

In [65]:
url_query = 'https://api.foursquare.com/v2/venues/explore'

In [105]:
parametros = {
    "client_id": tok1,
    "client_secret": tok2,
    "v": "20180323",
    "ll": f"{madrid.get('coordinates')[0]}, {madrid.get('coordinates')[1]}",
    "query": "café",
    "limit": 100 
}

In [106]:
resp = requests.get(url= url_query, params = parametros).json()

In [107]:
data = resp.get("response").get("groups")[0].get("items")

In [108]:
from functools import reduce
import operator

In [109]:
# Mis fuentes --stackoverflow
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

In [110]:
mapa_nombre =  ["venue", "name"]
mapa_latitud = ["venue", "location", "lat"]
mapa_longitud = ["venue", "location", "lng"]

In [111]:
lista_frutas = []
for dic in data:
    paralista = {}
    paralista["name"] = getFromDict(dic, mapa_nombre)
    paralista["latitud"]= getFromDict(dic, mapa_latitud)
    paralista["longitud"] = getFromDict(dic,mapa_longitud)
    lista_frutas.append(paralista)

In [113]:
df = pd.DataFrame(lista_frutas)
df.shape

(100, 3)

Vamos a manipular los datos para tener esta misma estructura en tipo point y poder hacer un index en Mongo para realizar geoqueries

In [78]:
lista_frutas[0]

{'name': 'Platea Madrid',
 'latitud': 40.426083288964996,
 'longitud': -3.68866416486341}

In [79]:
documentos = []
for diccionario in lista_frutas:
    temporal = {
        "name": diccionario.get("name"),
        "location": {"type": "Point", "coordinates": [diccionario.get("latitud"), diccionario.get("longitud")]}    
    }
    documentos.append(temporal)

In [81]:
documentos[0]

{'name': 'Platea Madrid',
 'location': {'type': 'Point',
  'coordinates': [40.426083288964996, -3.68866416486341]}}

In [82]:
nolollamesdf = pd.DataFrame(documentos)

In [83]:
nolollamesdf.head()

                     name                                           location
0           Platea Madrid  {'type': 'Point', 'coordinates': [40.426083288...
1  Supermercado Rotterdam  {'type': 'Point', 'coordinates': [40.426497213...
2          Frutas Charito  {'type': 'Point', 'coordinates': [40.457392971...
3        Frutería Vázquez  {'type': 'Point', 'coordinates': [40.427789898...
4  Fruteria Helen - La 24  {'type': 'Point', 'coordinates': [40.444155226...

In [85]:
nolollamesdf.to_json("lasfruterias.json", orient="records")

## Vamos a buscar a cuántos km están las fruterías de mi casa

In [115]:
fruterias = db.get_collection("fruterias")

In [116]:
fruterias.create_index([("location", GEOSPHERE)])

'location_2dsphere'

In [117]:
fruterias.find_one({})

{'_id': ObjectId('60d4535e457071ac5cbc53bc'),
 'name': 'Platea Madrid',
 'location': {'type': 'Point', 'coordinates': [40.426083289, -3.6886641649]}}

In [119]:
lavapi = [40.408808, -3.7034796]
lavapi_point = {"type": "Point", "coordinates": lavapi}

In [120]:
consulta = {"location": {"$near": {"$geometry": lavapi_point, "$maxDistance": 2000}}}

In [121]:
fru = list(fruterias.find(consulta))
fru

[{'_id': ObjectId('60d4535e457071ac5cbc53bd'),
  'name': 'Supermercado Rotterdam',
  'location': {'type': 'Point',
   'coordinates': [40.4264972132, -3.7067738427]}}]

In [122]:
df = pd.DataFrame(fru)
df.head()

,_id,name,location
0,60d4535e457071ac5cbc53bd,Supermercado Rotterdam,"{'type': 'Point', 'coordinates': [40.426497213..."

In [ ]:
$geoNear