# Recap MongoDB vs SQL

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¿Cómo-vemos-todos-los-elementos-de-una-colección?" data-toc-modified-id="¿Cómo-vemos-todos-los-elementos-de-una-colección?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¿Cómo vemos todos los elementos de una colección?</a></span></li><li><span><a href="#Visualizar-solo-algunos-elementos" data-toc-modified-id="Visualizar-solo-algunos-elementos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Visualizar solo algunos elementos</a></span></li><li><span><a href="#Query-con-una-condición-en-MongoDB" data-toc-modified-id="Query-con-una-condición-en-MongoDB-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Query con una condición en MongoDB</a></span></li><li><span><a href="#Limitamos-query" data-toc-modified-id="Limitamos-query-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Limitamos query</a></span></li></ul></div>

Para conectarnos a una base de datos de Mongo con Python utilizamos pymongo

In [2]:
#Mongoclient nos conecta al servidor

In [3]:
#Get database nos conecta a la base de datos EN CONCRETO

In [4]:
# Nos conecta a la colección  que queramos dentro de la base de datos

En MYSQL tenemos TABLAS relacionadas y en MongoDB tenemos COLECCIONES no relacionadas entre sí.

## ¿Cómo vemos todos los elementos de una colección?

In [6]:
import pandas as pd

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5,Chinese
1,55f14312c7447c3da7051b2a,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,Broughton,@Indian.com,CH4,0QR,6,Curry
2,55f14312c7447c3da7051b2b,http://www.just-eat.co.uk/restaurants-007takea...,6 Drummond Street,Rotherham,007 Takeaway,S65,1HY,6,Pizza
3,55f14312c7447c3da7051b28,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai
4,55f14312c7447c3da7051b2d,http://www.just-eat.co.uk/restaurants-042-rest...,885 High Road Leytonstone,London,042 Restaurant & Bar,E11,1HR,3,African

## Visualizar solo algunos elementos

                   name type_of_food
0           .CN Chinese      Chinese
1           @Indian.com        Curry
2          007 Takeaway        Pizza
3     @ Thai Restaurant         Thai
4  042 Restaurant & Bar      African

## Query con una condición en MongoDB

In [12]:
#Sintaxis con diccionarios

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5.0,Chinese
1,55f14312c7447c3da7051b28,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai
2,55f14312c7447c3da7051b2d,http://www.just-eat.co.uk/restaurants-042-rest...,885 High Road Leytonstone,London,042 Restaurant & Bar,E11,1HR,3.0,African
3,55f14312c7447c3da7051b29,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai
4,55f14312c7447c3da7051b2e,http://www.just-eat.co.uk/restaurants-042-rest...,885 High Road Leytonstone,London,042 Restaurant & Bar,E11,1HR,3.0,African

## Limitamos query

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5.0,Chinese
1,55f14312c7447c3da7051b28,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai
2,55f14312c7447c3da7051b2d,http://www.just-eat.co.uk/restaurants-042-rest...,885 High Road Leytonstone,London,042 Restaurant & Bar,E11,1HR,3.0,African