# Recap MongoDB vs SQL

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¿Cómo-vemos-todos-los-elementos-de-una-colección?" data-toc-modified-id="¿Cómo-vemos-todos-los-elementos-de-una-colección?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¿Cómo vemos todos los elementos de una colección?</a></span></li><li><span><a href="#Visualizar-solo-algunos-elementos" data-toc-modified-id="Visualizar-solo-algunos-elementos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Visualizar solo algunos elementos</a></span></li><li><span><a href="#Query-con-una-condición-en-MongoDB" data-toc-modified-id="Query-con-una-condición-en-MongoDB-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Query con una condición en MongoDB</a></span></li><li><span><a href="#Limitamos-query" data-toc-modified-id="Limitamos-query-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Limitamos query</a></span></li></ul></div>

Para conectarnos a una base de datos de Mongo con Python utilizamos pymongo

In [1]:
from pymongo import MongoClient

In [2]:
#Mongoclient nos conecta al servidor
client = MongoClient("localhost:27017")

In [4]:
#Get database nos conecta a la base de datos EN CONCRETO
db = client.get_database("ironhack")

In [4]:
# Nos conecta a la colección  que queramos dentro de la base de datos

In [5]:
c = db.get_collection("restaurants")

En MYSQL tenemos TABLAS relacionadas y en MongoDB tenemos COLECCIONES no relacionadas entre sí.

## ¿Cómo vemos todos los elementos de una colección?

In [7]:
import pandas as pd

In [10]:
df = pd.DataFrame(list(c.find({})))

In [11]:
df.head()

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5.0,Chinese
1,55f14312c7447c3da7051b2a,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,Broughton,@Indian.com,CH4,0QR,6.0,Curry
2,55f14312c7447c3da7051b28,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai
3,55f14312c7447c3da7051b27,http://www.just-eat.co.uk/restaurants-atthai-s...,376 Rayleigh Road,Essex,@ Thai,SS9,5PT,5.5,Thai
4,55f14312c7447c3da7051b29,http://www.just-eat.co.uk/restaurants-atthaire...,30 Greyhound Road Hammersmith,London,@ Thai Restaurant,W6,8NX,4.5,Thai

## Visualizar solo algunos elementos

In [12]:
proj = {"_id": 0, "name": 1, "type_of_food": 1}

In [13]:
df = pd.DataFrame(list(c.find({}, proj)))

In [14]:
df.head()

                name type_of_food
0        .CN Chinese      Chinese
1        @Indian.com        Curry
2  @ Thai Restaurant         Thai
3             @ Thai         Thai
4  @ Thai Restaurant         Thai

## Query con una condición en MongoDB

In [16]:
#Sintaxis con diccionarios
filtro = {"rating": {"$gte": 5}}

In [17]:
df = pd.DataFrame(list(c.find(filtro)))
df.head()

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5.0,Chinese
1,55f14312c7447c3da7051b2a,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,Broughton,@Indian.com,CH4,0QR,6.0,Curry
2,55f14312c7447c3da7051b27,http://www.just-eat.co.uk/restaurants-atthai-s...,376 Rayleigh Road,Essex,@ Thai,SS9,5PT,5.5,Thai
3,55f14312c7447c3da7051b2b,http://www.just-eat.co.uk/restaurants-007takea...,6 Drummond Street,Rotherham,007 Takeaway,S65,1HY,6.0,Pizza
4,55f14312c7447c3da7051b31,http://www.just-eat.co.uk/restaurants-100-degr...,67 Park Street,Treforest,100 Degrees Chinese Restaurant,CF37,1SN,5.0,Chinese

## Limitamos query

In [18]:
lista = list(c.find(filtro).limit(3))

In [19]:
df = pd.DataFrame(lista)
df.head()

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5.0,Chinese
1,55f14312c7447c3da7051b2a,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,Broughton,@Indian.com,CH4,0QR,6.0,Curry
2,55f14312c7447c3da7051b27,http://www.just-eat.co.uk/restaurants-atthai-s...,376 Rayleigh Road,Essex,@ Thai,SS9,5PT,5.5,Thai